.card{
    background: rgba(0, 0, 0, 0.9) !important;
    color: rgb(255, 0, 0);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center !important;
    margin-top: 20px;
}

.image-container{
    transition: transform 0.2s;
}
.image-container:hover{
    transform: scale(1.1);
}
.h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}